:root {
  --dark-bg-color: #292929;
  --dark-text-color: #ffffff;
  --dark-highlights-color: #720000;
  --dark-content-bg-color: #a30000;
  --dark-content-highlight-color: #6b0000;
  --dark-content-darkhighlight-color: #3d080d;

  --dark-disabled-color: #a9a9a9;
  --dark-notactive-color: #d3d2d2;
  --dark-active-color: #ffffff;
}

body {
  margin: 0;
  color: var(--dark-text-color);
  background-color: var(--dark-bg-color);
  font-family: Ubuntu;
  overflow: hidden;
}

@font-face {
  font-family: Ubuntu;
  src: url("./Ubuntu-Regular.ttf");
}

.BottomBar {
  position: absolute;
  bottom: 0;
  /* TO Center If Needed
  left: 50%;
  transform: translate(-50%, 0); */
}

.Title {
  font-size: x-large;
  padding: 15px;
}
.Container {
  height: 100%;
  padding: 15px;
}

/* --- Useful Classes --- */

.Flex {
  display: flex;
}
.Round-15 {
  border-radius: 15px;
}

/* --- Inputs --- */

/* TODO Search Only affecting input type text and password */

.Button {
  background-color: var(--dark-content-bg-color);
  padding: 5px;
}

.DropDownButton {
  background-color: var(--dark-content-bg-color);
  width: 100%;
}
.DropDownButton:hover {
  background-color: var(--dark-highlights-color);
  cursor: pointer;
}
.Button:hover {
  background-color: var(--dark-highlights-color);
  cursor: pointer;
}

.Input {
  min-width: 250px;
  outline: none;
  border-radius: 5px;
  line-height: 20px;
  background-color: var(--dark-notactive-color);
}
.Input:focus {
  background-color: var(--dark-active-color);
}
.Input:disabled {
  background-color: var(--dark-disabled-color);
}

@media only screen and (max-width: 768px) {
  .Input {
    min-width: 200px;
  }
}
